// buttons

.feedback {
	background: lighten(@ltblue,10%);
	color: @dkblue;
	padding: 10px 20px 10px 10px;
	margin: 10px 0;
	border-radius: 4px;
	position: relative;
	display: block;
	p {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: @ltblue;
		text-decoration: underline;
	}
	.close {
		position: absolute;
		right: 0;
		top: 0;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		text-decoration: none;
		display: block;
		.opacity(.5);
		&:hover {
			.opacity(1);
		}
	}
	&.warning {
		background: lighten(@orange,30%);
		color: darken(@orange,20%);
	}
	&.alert {
		background: @orange;
		color: lighten(@orange,30%);
		a {
			color: lighten(@orange,25%);
		}
	}
	&.feedback-icon {
		padding-left: 50px;
		min-height: 65px;
		i {
			position: absolute;
			left: 10px;
			top: 10px;
			font-size: 30px;
			.opacity(.5);
		}
	}
}

.instructions {
	padding: 5px 10px;
	background: lighten(@yellow,20%);
	color: darken(@yellow,50%);
	margin: 0 0 20px;
	border-radius: 4px;
	p {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}