// forms

input[type=text], select, textarea, input[type=number] {
	font-family: @bfont;
	font-size: 17px;
	background: @ltgray;
	.box-shadow(0 2px 0 darken(@ltgray,10%) inset);
	border-radius: 4px;
	padding: 7px 5px;
	border: none;
	outline: none;
	&:focus {
	}
	.placeholder(lighten(@bcolor,30%));
	&.smart-width {
		width: 100%;
	}
	&.datepicker {
		width: 120px;
	}
}

select {
	-webkit-appearance: none;
	
	&:after {
		content: 'hello';
	}
}

input[type=checkbox], input[type=radio] {
	position:absolute;
    /* Reset anything that could peek out or interfere with dimensions */
    overflow:hidden;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    opacity:0;
	+ label.option {
		position: relative;
		padding: 15px 0 15px 40px;
		&:before {
			content: '';
			background: @ltgray;
			.box-shadow(0 2px 0 darken(@ltgray,10%) inset);
			display: block;
			width: 22px;
			height: 22px;
			position: absolute;
			left: 5px;
			top: 12px;
			text-align: center;
			color: @white;
		}
	}
	&:checked {
		+ label.option {
			&:before {
				background: @brand !important;
				.box-shadow(0 2px 0 darken(@brand,10%) inset) !important;
			}
		}
	}
	&:focus {
		+ label.option {
			&:before {
			}
		}
	}
	&:disabled {
		+ label.option {
			.opacity(.5);
		}
	}
}

input[type=checkbox] {
	+ label.option {
		&:before {
			border-radius: 3px;
		}
	}
	&:checked {
		+ label.option {
			&:before {
				content: '\2713';
				text-shadow: 0 2px 0 darken(@brand,10%);
				line-height: 21px;
			}
		}
	}
}

input[type=radio] {
	+ label.option {
		&:before {
			border-radius: 50%;
		}
	}
	&:checked {
		+ label.option {
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 6px;
				top: 11px;
				background: @white;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				.box-shadow(0 2px 0 darken(@brand,10%));
			}
		}
	}
}

.options-vertical {
	.option {
		display: block;
	}
}

.options-horizontal {
	.option {
		display: inline-block;
		padding-right: 10px !important;
	}
}

form {
	position: relative;
	.help {
		display: block;
		padding: 5px 0;
		color: lighten(@bcolor,30%);
	}
	fieldset {
		padding: 20px 0;
		border-top: 1px solid @ltgray;
		legend {
			font-weight: 500;
			padding: 0 20px;
		}
		dl {
			dt {
				label {
					padding: 0 0 10px;
					display: block;
				}
			}
		}
		&.table {
			dl {
				display: table-row;
				padding: 5px 0;
				margin: 0;
				clear: both;
				overflow: hidden;
				dt, dd {
					display: table-cell;
					margin: 0;
					float: none;
					width: auto;
					position: relative;
					padding: 0 20px 10px 0;
					vertical-align: top;
					label {
						display: inline-block;
					}
				}
				dt {
					text-align: right;
					font-weight: normal;
					label {
						padding: 10px 0 0;
						&.options-label {
							padding-top: 15px;
						}
					}
				}
				dd {
					&.options-vertical, &.options-horizontal {
						.yesno {
							text-align: left;
						}
					}
				}
			}
			&.left-aligned {
				dl {
					dt {
						text-align: left;
					}
				}
			}
		}
		&.noborder {
			border-top: none;
		}
	}
}

.m-signature-pad {
	position: relative;
	padding: 0 20px 20px;
	.m-signature-pad--body {
		position: relative;
		height: 100px;
		border: 1px solid @ltgray;
		background: @white;
		canvas {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 4px;
		}
	}
}