// master 768

@media (min-width: @screen-md) {

	.page {
		.ui-section {
			.ui-header {
				.ui-statusbar, .ui-btns {
					padding-left: 72px;
				}
				.ui-statusbar {
					li {
						width: auto !important;
					}
				}
				.ui-btns {
					text-align: left;
				}
				.ui-tabs {
					li {
						width: auto !important;
						padding: 0 10px;
					}
				}
			}
		}
	}
	
}