// typography

body {
	font-family: @bfont;
	font-size: @bsize;
}

p {
	line-height: 1.4em;
	padding-bottom: 20px;
}

h1, h2, h3 {
	font-weight: 500;
}

h1 {
	font-size: 18px;
}

h2, h3 {
	&.title {
		padding: 0 0 20px;
	}
	&.legend {
		padding-left: 20px;
	}
}

h2 {
	font-size: 17px;
}

h3 {
	padding: 0 0 1em;
}

ul {
	&.b-list {
		list-style-type: disc;
		padding: 0 0 20px;
		li {
			padding: 0 0 10px;
			margin: 0 0 0 20px;
		}	
	}
}

.table {
	display: table;
	margin: 0 0 20px;
	dl {
		display: table-row;
		dt, dd {
			display: table-cell;
			ul {
				&.b-list {
					padding-bottom: 0;
				}
			}
		}
		dt {
			color: lighten(@bcolor,30%);
			padding: 0 10px 10px 0;
			text-align: right;
		}
		dd {
			padding: 0 20px 10px 0;
			&:last-child {
				padding-right: 0;
			}
		}
		&.seperate {
			dt, dd {
				padding-bottom: 20px;
			}
		}
	}
}