body {
	font-family: @font-stack;
	font-size: @fsize;
	color: @fcolor;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-weight: 400;
}

p {
	padding: 0 0 .5em;
}

abbr {
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

strong {
	font-weight: 600;
}