// measurements

@abh: 56px; // app-bar-height

//
// Variables
// --------------------------------------------------

@font-stack: "Work Sans", Helvetica, Arial, Geneva, Verdana, sans-serif;
@font-number: "Lucida Console", @font-stack;
@fsize: 17px;
@fcolor: @dkgray;

@black: #000;
@white: #fff;
@dkgray: lighten(@black,35%);
@gray: lighten(@black, 55%);

@btgreen: #d4ff5f;
@green: #7fe565;
@ltyell: #e1f8a5;