<div class="modal-header">
  <h1>Chowrichzy Wisdomy Octoptios</h1>
  <a class="close" ng-click="cancel()">Close</a>
</div>
<div class="modal-body">
	<dl class="shift dl-lot">
		<dt>Date</dt>
		<dd>Thursday, October 22, 2014</dd>
		<dt>Time</dt>
		<dd class="time">12:30<abbr>p</abbr>&ndash;12:30<abbr>p</abbr></dd>
		<dt>Caregiver</dt>
		<dd class="caregiver">China Delgadillo</dd>
	</dl>
</div>
<div class="modal-footer btns">
	<a class="btn block">Edit Care Schedule</a>
	<a class="btn block">Edit This Shift</a>
	<a class="btn block warning">Delete Shift</a>
	<a class="btn block" ng-click="cancel()">Cancel</a>
</div>