<div class="app-bar breadcrumbs">
	<a href="#/clients" class="crumb">Clients</a>
	<a href="#/clients/client" class="crumb">Chowrichzy Wisdomy Octopios</a>
	<span ng-bind="title" class="title"></span>
	<div class="tools">
		<a class="btn" href="#/clients/client/schedule/edit">Add Schedule</a>
	</div>
</div>
<div class="toolbar">
	<div class="btn-group left">
		<a class="btn"><i class="fa fa-caret-left"></i></a>
		<a class="btn">Today</a>
		<a class="btn"><i class="fa fa-caret-right"></i></a>
	</div>
	<div class="title left">
		Oct 19 &ndash; 25
	</div>
	<div class="btn-group">
		<a class="btn selected">Week</a>
		<a class="btn">Month</a>
	</div>
</div>
<div class="schedule week">
	<div class="columns days">
		<div class="day mon"></div>
		<div class="day tue"></div>
		<div class="day wed"></div>
		<div class="day thu"></div>
		<div class="day fri"></div>
		<div class="day sat"></div>
		<div class="day sun"></div>
	</div>
	<div class="rows days">
		<div class="day mon">
			<span>Mon<span>
			<span>19</span>
		</div>
		<div class="day tue">
			<span>Tue<span>
			<span>20</span>
		</div>
		<div class="day wed">
			<span>Wed<span>
			<span>21</span>
		</div>
		<div class="day thu">
			<span>Thu<span>
			<span>22</span>
		</div>
		<div class="day fri">
			<span>Fri<span>
			<span>23</span>
		</div>
		<div class="day sat">
			<span>Sat<span>
			<span>24</span>
		</div>
		<div class="day sun">
			<span>Sun<span>
			<span>25</span>
		</div>
	</div>
	<div class="rows client">
		<div class="schedule row">
			<div class="mon day past">
				<a class="shift">
					<span class="time">8:30&ndash;2:30<abbr>p</abbr></span>
					<span class="caregiver">Ezequiel Blackwood</span>
				</a>
				<a class="shift">
					<span class="time">6:30<abbr>p</abbr>&ndash;10:30<abbr>p</abbr></span>
					<span class="caregiver">China Delgadillo</span>
				</a>
			</div>
			<div class="tue day past">
				<a class="shift needs-caregiver">
					<span class="time">8:30&ndash;2:30<abbr>p</abbr></span>
					<span class="caregiver feedback warning inline">Needs Caregiver</span>
				</a>
			</div>
			<div class="wed day"></div>
			<div class="thu day days-2">
				<a class="shift day-1" ng-controller="schedulesWhatCtrl" ng-click="open('small')">
					<span class="time">12:30<abbr>p</abbr>&ndash;12:30<abbr>p</abbr></span>
					<span class="caregiver">China Delgadillo</span>
				</a>
				<a class="shift day-2" ng-controller="schedulesWhatCtrl" ng-click="open('small')">
					<span class="time">7:00<abbr>p</abbr>&ndash;9:30<abbr>p</abbr></span>
					<span class="caregiver">China Delgadillo</span>
				</a>
			</div>
			<div class="sat day"></div>
			<div class="sun day"></div>
		</div>
	</div>
</div>